{% include 'header/head.html.twig' %}
<body>
<header>
    <div>
        <img src="" alt="">
        <h1>ANTOINE GUILLO</h1>
    </div>
    <div>
        <button>bouton dark mode</button>
    </div>
    <div>
        <span>MENU</span>
    </div>
</header>





