{% include 'header/head.html.twig' %}
<body>
<header>
    <div id="header-logo">
        <img src="{{ asset('img/icones/robot.svg') }}" alt="Icone de robot">
        <p>Antoine Guillo</p>
    </div>
    <div id="darkmode-switch">
        <img src="{{ asset('img/icones/light.svg') }}" alt="icone theme light">
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <img src="{{ asset('img/icones/dark.svg') }}" alt="icone theme dark">
    </div>
    <div id="menu">
        <span>menu</span>
    </div>
</header>





