{% extends 'base.html.twig' %}

{% block title %}Jobs{% endblock %}

{% block body %}

    <h2>Mon cursus d'études supérieures</h2>

    <div class="add-button-container">
        <a href="{{ path('studies_add') }}">
            <button>Ajouter un nouveau diplôme</button>
        </a>
    </div>

    <div class="study-list-container">

        {% for study in studies %}
            <div class="study-item-container">
                {% if study.id is odd %}
                    <div class="flex-end">{{ study.degreeName }}</div>
                    <div class="arrow-border"></div>
                {% else %}
                    <div></div>
                    <div class="arrow-border flex-start">{{ study.degreeName }}</div>
                {% endif %}
            </div>

        {% endfor %}
    </div>
    <div class="arrow-end-container"><span class="arrow-end">V</span></div>
{% endblock %}

{% block extraStyle %}
    <style>
        .add-button-container {
            display: flex;
            justify-content: center;
            margin: 1rem 0;
        }

        .study-item-container {
            display: flex;
        }

        .study-item-container div {
            padding: 2rem;
            width: 50%;
            display: flex;
        }

        .arrow-border{
            border-left: 3px solid #ccc;
        }

        .flex-start {
            justify-content: flex-start;
        }

        .flex-end {
            justify-content: flex-end;
        }

        .arrow-end-container {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: flex-start;
        }

        .arrow-end {
            position: relative;
            font-size: 2rem;
            bottom: 33px;
        }
    </style>
{% endblock %}

