#admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 150px 0;
}

#admin .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#admin .container a {
    text-decoration: none;
}

#admin .container a div {
    width: 250px;
    height: 250px;
    border: 1px solid #4756FF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #4756FF;
    color: #FFFFFF;
    transform: scale(1);
    transition: transform 0.3s;
    font-size: 25px;
}
#admin .container a div:hover {
    transform: scale(0.95);
    transition: transform 0.3s;
}


/*** DESKTOP ***/
@media (min-width: 768px) {

    #admin .container {
        width: 80%;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }

    #admin .container a div {
        width: 300px;
        height: 300px;
    }

}