@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

/* FONTS */

body{
    font-family: "Bricolage Grotesque", sans-serif;
}

/* COLORS */

.blue-txt {
    color: #4756FF;
}

/* BUTTONS */

.white-btn {
    background-color: #FFFFFF;
    color: #4756FF;
    border: 1px solid #4756FF;
    border-radius: 30px;
    padding: 10px 15px;
}

.blue-btn {
    background-color: #4756FF;
    color: #FFFFFF;
    border: 1px solid #4756FF;
    border-radius: 30px;
    padding: 10px 15px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    height: 122px;
    font-weight: lighter;
}

header div {
    display: flex;
    width: calc(100%/3);
    padding: 20px;
    align-items: center;
}

header #header-logo {
    gap: 10px;
}

header #header-logo img {
    width: 44px;
    height: 44px;
}

header #header-logo p {
    font-size: 30px;
    font-weight: lighter;
}

header #darkmode-switch {
    justify-content: center;
    gap: 5px;
}

header #menu {
    justify-content: flex-end;
}

/* DARK MODE SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    border: 1px solid #000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 3px;
    bottom: 4px;
    background-color: #4756FF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

