{% include 'header/header.html.twig' %}

{% block body %}

{% endblock %}

{% include 'footer/footer.html.twig' %}

{% block extraStyle %}
    
{% endblock %}

{% block extraJs %}
    
{% endblock %}


</body>
</html>
