<div>
    <ul>
        <li><a href="">Accueil</a></li>
        <li><a href="">Expériences professionnelles</a></li>
        <li><a href="">Etudes supérieures</a></li>
        <li><a href="">Book</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Administration</a></li>
    </ul>
</div>

