<div>
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="{{ path('job_list') }}">Expériences professionnelles</a></li>
        <li><a href="{{ path('studies_list') }}">Etudes supérieures</a></li>
        <li><a href="">Book</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Administration</a></li>
    </ul>
</div>

